# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/

# Django migrations
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.log
**/migrations/*.pot

# Sensitive or personal files
.env
.env.*
*.key
secrets.json

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Editor-specific files
.vscode/
.idea/
*.swp
.DS_Store

# Python virtual environment packages
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.pytest_cache/
.coverage
htmlcov/
.tox/
